/.vs
/NotesBackEnd/bin
/NotesBackEnd/NotesBackEnd.csproj.user
/NotesBackEnd/NotesJournalApp.db
/NotesBackEnd/NotesJournalApp.db-shm
/NotesBackEnd/NotesJournalApp.db-wal
/NotesBackEnd/obj
/NotesCLI/bin
/NotesCLI/obj
/NotesDomain/bin
/NotesDomain/obj
/NotesDomain_Tests/bin
/NotesDomain_Tests/obj
/NotesHandlers/bin
/NotesHandlers/obj
/NotesHandlers_Int/bin
/NotesHandlers_Int/obj
/NotesHandlers_Tests/bin
/NotesHandlers_Tests/obj
/NotesStorage/bin
/NotesStorage/obj
/NotesBackEnd_Int/bin
/NotesBackEnd_Int/obj
